body{
    content:"";
    width:100%;
    height:100vh;
    display:block; 
    background-color: #fff!important;
    font-family: "Montserrat",Helvetica,Arial,sans-serif !important;
}
a {
    text-decoration: none;
}
.main-panel {
  width: 100%;
}
.card-header{
    background-color: transparent !important;
    border:0 !important;
}
.table-responsive {
    overflow:scroll;
    max-height:500px;
}
.section-gray {
    background-color: #eee;
}
.btn-link {
    border-color: transparent!important;
    padding: 7px 18px;
    background-color: transparent!important;
    color: #66615b;
}
.btn-link:active, .btn-link:focus {
    box-shadow: none;
}
.btn-link:active, .btn-link:focus {
    box-shadow: none;
}
.btn-neutral {
    opacity: 1;
    filter: alpha(opacity=100);
    background-color: #fff !important;
    border-color: #fff !important;
    opacity: 1;
    filter: alpha(opacity=100);
    color: #66615b !important;
}
.card .card-link {
    color: #fff;
}
a:hover{
  color:teal;
  text-decoration: none;
}
.bg-primary {
    background-color: #6dd3d6!important;
}
.bg-info {
    background-color: #6ec7e0!important;
}
.btn-primary {
    background-color: #51cbce;
    border-color: #51cbce;
    color: #fff;
    opacity: 1;
    filter: alpha(opacity=100);
}
.rounded-circle{
    padding:10px;
    margin-bottom:20px;
}

.content {
    padding: 0 !important;
    min-height: 100vh;
    padding-top: 0px !important;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}
.card-title, .footer-big h4, .footer-big h5, .footer-brand, .info-title, .media .media-heading, .title {
    font-family: Montserrat, Helvetica, Arial, sans-serif;
}
.bg-danger {
    background-color: rgb(247, 118, 95) !important;
}
.bg-grey{
    background-color: #7b7b7b!important;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .5rem;
}
.links {
    display: inline-block;
}
.links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-weight: 600;
}
.links ul>li {
    display: inline-block;
    padding-right: 20px;
}
.table-scroll {
    overflow: scroll;
    max-height: 600px;
}
.footer .credits, .footer-nav {
    line-height: 85px;
}
.nav-link {
    line-height: 1.6;
    margin: 15px 3px;
    padding: 10px 15px;
    opacity: .8;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    color: #66615b;
}
.navbar-nav .nav-item .nav-link:not(.btn) {
    color: #fff;
    border-color: #fff;
}
.ml-auto {
    margin-left: auto!important;
}
.custom-control-label {
    font-weight: 550;
    min-height: 20px;
    font-size:15px !important;
    padding-left: 20px;
}
input[type="checkbox"]{
    z-index: 1;
    cursor: pointer;
    width: 19px;
    height: 19px;
}
.checkbox label {
    min-height: 20px;
    margin-bottom: 0;
    font-weight: 400;
    cursor: pointer;
    padding-left: 5px!important;
}
.btn-lg {
    padding: 1.5rem 1.5rem;
}
.btn {
    font-size: 13px !important;
    background-color: #66615b;
    color:white;
}
.btn-danger {
    background-color: #f5593d;
    border-color: #f5593d;
    color: #fff;
    opacity: 1;
    filter: alpha(opacity=100);
}
.fade.in {
  opacity: 1;
}
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
.modal-backdrop .fade .in {
  opacity: 0.5 !important;
}
.modal-backdrop.fade {
    opacity: 0.5 !important;
}

.btn-link {
    font-weight: 600;
    text-decoration: none;
    color: #96ac59;
    text-transform: uppercase;
}
.bg-gradient-default {
    background: linear-gradient(87deg,#a5a1a1e6 0,#0c0c0ed9 100%)!important;
}
.bg-green{
    background-color: #86d9ab;
    color:#fff;
}
.bg-warning{
    background-color: #f3bb45;
}
.btn-just-icon {
    border-radius: 50px;
    height: 40px;
    width: 40px;
    min-width: 40px;
    padding: 8px !important;
}
.btn-info {
    background-color: #51bcda;
    color: #fff !important;
    opacity: 1;
    filter: alpha(opacity=100);
}
.btn-warning {
    background-color: #fbc658;
    border-color: #fbc658;
    color: #fff;
    opacity: 1;
    filter: alpha(opacity=100);
}
.btn-success {
    background-color: #6bd098;
    border-color: #6bd098;
    color: #fff;
    opacity: 1;
    filter: alpha(opacity=100);
}
.btn-danger.btn-link {
    color: #f5593d;
}
.btn-info.btn-link {
    color: #51bcda !important;
    text-transform: capitalize;
}
.btn.btn-link {
    color:#66615b !important;
    text-transform: capitalize;
}
.btn.btn-link:hover,.btn-info.btn-link:hover{
    text-decoration: none;
}
.btn-primary.btn-link {
    color: #51cbce !important;
}
.nav-item {
    position: relative;
    margin-right: 10px;
}
.btn-link {
    padding: 7px 18px;
    border-color: transparent !important;
    background-color: transparent;
}
.title {
    margin-top: 30px;
    margin-bottom: 25px;
    min-height: 32px;
}
.card {
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 6px 10px -4px;
    background-color: #fff;
    color: #252422;
    margin-bottom: 20px;
    position: relative;
    border: 0 none;
    transition: transform .3s cubic-bezier(.34,2,.6,1),box-shadow .2s ease;
}
.card-pricing{
    border-radius: 20px;
    box-shadow: 0 6px 10px -4px rgba(0,0,0,.15);
}
.card[data-color=orange] {
    background: #f7765f;
}
.text-warning, .text-warning:hover {
    color: #fbc658!important;
}
.card-category {
    margin: 10px 0;
    color: #333;
}
.card-title {
    margin: 5px 0 0;
    margin-top: 30px!important;
}
 .card-footer {
    padding: 15px;
    background: 0 0;
    border-top: 0;
}
.card-pricing ul {
    list-style: none;
    padding: 0;
    max-width: 240px;
    margin: 20px auto;
}
.card-pricing ul li {
    padding: 5px 0;
    list-style-type: none;
}

/* form-modif */
.form-control-label {
    font-size: .875rem;
    font-weight: 600;
    color: #525f7f;
}
.form-control:focus {
    color: #8898aa;
    border-color: #5e72e4;
    outline: 0;
    background-color: #fff;
    box-shadow: 0 3px 9px rgba(50,50,9,0),3px 4px 8px rgba(94,114,228,.1)
}

.form-control {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px!important;
    color: #66615b;
    font-size: 14px;
    transition: background-color .3s;
    padding-right: 0!important;
    padding: 7px 12px;
    height: 40px;
    box-shadow: none;
}

.info h4 {
    margin-top: 15px;
    margin-bottom: 15px;
}
/* toolbar-custom */
.btn-toolbar {
    font-size: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}
.icon-bold {
    background-position: -167px -48px;
}
[class^="icon-"], [class*=" icon-"] {
    display: inline-block;
    width: 14px;
    height: 14px;
    *margin-right: .3em;
    line-height: 14px;
    vertical-align: text-top;
    background-image: url(../images/glyphicons-halflings.png);
    background-position: 14px 14px;
    background-repeat: no-repeat;
    margin-top: 1px;
}
.btn-group>.btn:first-child {
    margin-left: 0;
    -webkit-border-top-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    border-top-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-bottom-left-radius: 4px;
}
.btn-group>.btn+.btn {
    margin-left: -1px;
}
.icon-italic {
    background-position: -192px -48px;
}
.icon-list {
    background-position: -360px -48px;
}
.icon-picture {
    background-position: -456px -48px;
}
.icon-arrow-right {
    background-position: -264px -96px;
}
.icon-align-right {
    background-position: -312px -48px;
}
.icon-align-center {
    background-position: -288px -48px;
}
.icon-align-left {
    background-position: -264px -48px;
}
.icon-eye-open {
    background-position: -96px -120px;
}
.icon-ok {
    background-position: -288px 0;
}
.icon-trash {
    background-position: -456px 0;
}