body{
    content:"";
    width:100%;
    height:100vh;
    display:block; 
    background-color: #fff!important;
    font-family: "Montserrat",Helvetica,Arial,sans-serif !important;
}
a {
    text-decoration: none;
}
.links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-weight: 600;
}
.links ul>li {
    display: inline-block;
    padding-right: 20px;
}
p {
    font-size:1.5em!important;
}
.btn{
    font-size:14px!important;
}
.custom-control-label::before, 
.custom-control-label::after {
    width: 15px !important;
    height: 15px !important;
    padding: 10px;
}
.table-scroll{
    height: 500px;
    overflow: scroll;
}
.modal-footer .btn-link {
    padding: 20px;
    width: 100%;
}
.modal-body {
    padding: 20px 50px;
    color: #000;
}
.modal-header.no-border-header {
    border-bottom: 0!important;
}
.modal-header {
    padding: 20px;
    text-align: center;
    display: block!important;
}
.modal-footer .divider {
    background-color: #ddd;
    display: inline-block;
    float: inherit;
    height: 63px;
    margin: 0 -3px;
    width: 1px;
}
.modal-footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.modal-footer .left-side, .modal-footer .right-side {
    display: inline-block;
    text-align: center;
    width: 49%;
}
.modal-footer .btn-link {
    padding: 20px;
    width: 100%;
}
.btn-default,.btn-danger{
    border:0;
}
.btn-danger.btn-link{
    color:red;
}
 .btn.btn-link {
    background-color: transparent;
}
.table > thead > tr > th {
    border-bottom-width: 0;
    font-size: 12px !important;
    font-weight: bold;
}