table {
    border-collapse: separate;
    border-spacing: 0;
    margin: 0;
    border-width: 0;
    table-layout: fixed;
    outline-width: 0;
    cursor: default;
    width: 100%;
    max-height: none;
}
.relative{ 
    padding: 10px !important;
}
table.tableizer-table {
    font-size: 13px;
    border: 1px solid #CCC; 
    font-family: Roboto, Helvetica, sans-serif;
} 

.tableizer-table th {
    background-color: #dcdcdc !important;
    color: #222;
    text-align: center;
    white-space: nowrap !important;
}
span .rowHeader {
    background-color: #f0f0f0 !important;
    text-align: center;
}
.tableizer-table td {
    border-left-width: 0;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    height: 23px;
    empty-cells: show;
    line-height: 21px;
    padding: 0 4px;
    background-color: #fff;
    vertical-align: top;
    overflow: hidden;
    outline-width: 0;
    font-size: 14px;
    background-clip: padding-box;
}
.tableizer-table thead th .relative {
    padding: 2px 4px;
    
}
.tableizer-table th:first-child, .tableizer-table th:nth-child(2) {
    border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
}
.tableizer-table th:last-child {
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.tableizer-table tr:nth-child(even) {
  background-color: #f2f2f2 !important
}
.handsontableInput {
    border: none !important;
    outline-width: 0;
    margin: 0;
    padding: 1px 5px 0;
    font-family: inherit;
    line-height: 21px;
    font-size: inherit;
    resize: none;
    display: block;
    color: #000;
    border-radius: 0;
    background-color: #fff;
}
textarea .handsontableInput{
    border: none!important;
}
.area-custom{
    width: 88px; 
    height: 23px; 
    font-size: 13px; 
    font-family: Roboto, Helvetica, Arial, sans-serif; 
    resize: none; 
    min-width: 88px; 
    max-width: 420px; 
    overflow-y: hidden;
}
.totalfooter td{
    padding: 10px;
}